* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #fff #141414;
}
*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-track {
  background: #141414;
}

*::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid #141414;
}

body,
html {
  background: rgba(243, 226, 199);
  background: -moz-linear-gradient(
    top,
    rgba(243, 226, 199, 1) 6%,
    rgba(243, 226, 199, 1) 15%,
    rgba(232, 192, 128, 1) 32%,
    rgba(230, 176, 95, 1) 51%,
    rgba(255, 175, 54, 1) 85%,
    rgba(255, 175, 54, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(6%, rgba(243, 226, 199, 1)),
    color-stop(15%, rgba(243, 226, 199, 1)),
    color-stop(32%, rgba(232, 192, 128, 1)),
    color-stop(51%, rgba(230, 176, 95, 1)),
    color-stop(85%, rgba(255, 175, 54, 1)),
    color-stop(100%, rgba(255, 175, 54, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(243, 226, 199, 1) 6%,
    rgba(243, 226, 199, 1) 15%,
    rgba(232, 192, 128, 1) 32%,
    rgba(230, 176, 95, 1) 51%,
    rgba(255, 175, 54, 1) 85%,
    rgba(255, 175, 54, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(243, 226, 199, 1) 6%,
    rgba(243, 226, 199, 1) 15%,
    rgba(232, 192, 128, 1) 32%,
    rgba(230, 176, 95, 1) 51%,
    rgba(255, 175, 54, 1) 85%,
    rgba(255, 175, 54, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(243, 226, 199, 1) 6%,
    rgba(243, 226, 199, 1) 15%,
    rgba(232, 192, 128, 1) 32%,
    rgba(230, 176, 95, 1) 51%,
    rgba(255, 175, 54, 1) 85%,
    rgba(255, 175, 54, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(243, 226, 199, 1) 6%,
    rgba(243, 226, 199, 1) 15%,
    rgba(232, 192, 128, 1) 32%,
    rgba(230, 176, 95, 1) 51%,
    rgba(255, 175, 54, 1) 85%,
    rgba(255, 175, 54, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#ffaf36', GradientType=0 );
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.body {
  display: flex;
  flex-direction: column;
  border: solid black;
  border-radius: 10px;
  margin: 40px 40px 40px 40px;
}

.contatos-container {
  padding: 0 50px 0;
}

.contatos-listLI {
  list-style: none;
  margin-top: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.contatos-listLI a {
  color: black;
  text-decoration: none;
  transition: 0.4s;
}

.contatos-listLI a:hover {
  color: white;
  text-decoration: underline;
}
