* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #fff #141414;
}
*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-track {
  background: #141414;
}

*::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid #141414;
}

body,
html {
  min-height: 100%;
  background: rgba(243, 226, 199);
  background: -moz-linear-gradient(
    top,
    rgba(243, 226, 199, 1) 6%,
    rgba(243, 226, 199, 1) 15%,
    rgba(232, 192, 128, 1) 32%,
    rgba(230, 176, 95, 1) 51%,
    rgba(255, 175, 54, 1) 85%,
    rgba(255, 175, 54, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(6%, rgba(243, 226, 199, 1)),
    color-stop(15%, rgba(243, 226, 199, 1)),
    color-stop(32%, rgba(232, 192, 128, 1)),
    color-stop(51%, rgba(230, 176, 95, 1)),
    color-stop(85%, rgba(255, 175, 54, 1)),
    color-stop(100%, rgba(255, 175, 54, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(243, 226, 199, 1) 6%,
    rgba(243, 226, 199, 1) 15%,
    rgba(232, 192, 128, 1) 32%,
    rgba(230, 176, 95, 1) 51%,
    rgba(255, 175, 54, 1) 85%,
    rgba(255, 175, 54, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(243, 226, 199, 1) 6%,
    rgba(243, 226, 199, 1) 15%,
    rgba(232, 192, 128, 1) 32%,
    rgba(230, 176, 95, 1) 51%,
    rgba(255, 175, 54, 1) 85%,
    rgba(255, 175, 54, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(243, 226, 199, 1) 6%,
    rgba(243, 226, 199, 1) 15%,
    rgba(232, 192, 128, 1) 32%,
    rgba(230, 176, 95, 1) 51%,
    rgba(255, 175, 54, 1) 85%,
    rgba(255, 175, 54, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(243, 226, 199, 1) 6%,
    rgba(243, 226, 199, 1) 15%,
    rgba(232, 192, 128, 1) 32%,
    rgba(230, 176, 95, 1) 51%,
    rgba(255, 175, 54, 1) 85%,
    rgba(255, 175, 54, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#ffaf36', GradientType=0 );
}

.container {
  display: flex;
  transform: scale(1);
  transform-origin: 0 0;
  flex-direction: column;
  height: 100%;
  padding-bottom: auto;
}

.body {
  display: flex;
  flex-direction: row;
  height: auto;
  padding-bottom: 27vh;
}

.navbar-top {
  display: flex;
  background: linear-gradient(180deg, #3d0b00 91%, rgba(243, 226, 199, 1) 100%);
  height: 60px;
  justify-content: center;
  align-items: center;
}

.navbar-left {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  text-align: center;
  background-color: #975b27;
  border-radius: 0px 5px 5px 0px;
  margin: 25px 25px 25px 0px;
  top: 0;
  position: sticky;
}
.navbar-top-logo {
  color: white;
  font-family: "roboto";
  font-style: oblique;
  outline-style: groove;
  text-decoration: underline;
  border-radius: 5px;
  padding: 2px;
}

.navbar-left-logo {
  margin-top: 25px;
  font-family: roboto;
  background-color: wheat;
  border: solid 1px black;
  border-radius: 50px;
  margin: 10px;
  margin-bottom: 25px;
}

.navbar-left-listCont {
}

.navbar-left-list {
  list-style: none;
  background-color: wheat;
  border: solid 1px black;
  border-radius: 7px;
  padding: 5px;
  margin: 20px;
  margin-bottom: 25px;
}

.navbar-left-list a {
  color: black;
  text-decoration: none;
  transition: 0.4s;
}

.navbar-left-list a:hover {
  color: white;
  text-decoration: underline;
}

div.galery {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  border: solid black;
  border-radius: 7px;
  margin: 40px 40px 40px 10px;
  min-height: 300px;
}

div.gallery-pic {
  margin: 15px;
  margin-top: 20px;
  border: 2px solid #ccc;
  float: left;
  height: 330px;
  width: 180px;
  background-color: rgb(211, 208, 206);
  transition: 1s;
  -webkit-box-shadow: 9px 9px 17px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 9px 17px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 9px 17px -3px rgba(0, 0, 0, 0.75);
}

div.gallery-pic:hover {
  border: 2px solid #777;
  scale: 130%;
}

div.gallery-pic img {
  width: 100%;
  height: auto;
}

div.desc {
  background-color: antiquewhite;
  padding: 15px;
  text-align: center;
}

.footer {
  background-color: #c4833b;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.footer div {
  padding-top: 5px;
  display: flex;
  vertical-align: middle;
  justify-content: space-between;
}
